* {
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    display: flex;
}

.container {
    display: flex;
    height: 100%;
}

.side-panel {
    background-color: #1F1F21;
    width: 14vw;
    height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.home-page {
    background-color: #bbbbbb;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.top-header {
    background-color: #ffffff;
    height: 8vh;
    width: 100%;
    border-bottom: 10px solid #100079;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-title{
    display: flex;
    align-items: center;
    width: 50%;
}

.page-name{
    font-size: 1.5rem;
    font-weight: bolder;
    margin-left: 75px;
    color: #100079;
    
}

.user-profile{
    display: flex;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
}

.user-name{
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 10px;
}

.profile-picture{
    border-radius: 50px;
    margin-right: 10px;
}

/* .toggle-btn{
    display: inline-flex;
    align-items: center;
    margin-left: 1%;
}

.fa-bars{
    font-size: 1.5rem;
    color: rgb(0, 0, 0, 0.5);
}

.fa-bars:hover{
    cursor: pointer;
    color: rgb(0, 0, 0);
    transition: color 0.5s ease;
} */

.main-menu {
    background-color: #ffffff;
    flex: 1;
    display: flex;
}

.main-panel {
    background-color: #232323; 
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.home-btn-group {
    display: flex;
    flex-direction: column;
    margin: 150px 0;
}

p{  
    font-size: 1.2rem;
    text-align: center;
    margin: 0;
}

.main-btn{
    display: flex;
    background-color: #333336;
    position: relative;
}

.main-btn-box{
    height: 100%;
    width: 7.5%;
    background-color: #ffffff;    
    position: absolute;
    left: 0;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 66px;
    color: white;
    margin-bottom: 20px;
}

.btn:hover {
    background-color: #525252;
    transition-duration: 0.5s;
    cursor: pointer;
}

