.sort-search-box {
    display: flex;
    position: relative;
    width: 70%;
    height: 6.1%;
    margin-top: 30px;
    margin-left: 78px;
    margin-bottom: 15px;
    border-radius: 15px;
    background-color: rgb(253, 253, 253);
    align-items: center;
}

.sort-search-title {
    background-color: rgb(165, 157, 157);
    color: blue;
    margin-left: 10px;
    margin-right: 5px;
    font-weight: bold;
}

.search-box {
    display: flex;
    position: relative;
    width: 50%;
    height: 100%;
    margin-left: 10px;
    border-radius: 15px;
    background-color: rgb(204, 25, 25);
    align-items: center;

}
.sort-box {
    display: flex;
    position: relative;
    width: 50%;
    height: 100%;
    margin-left: 10px;
    border-radius: 15px;
    background-color: rgb(164, 0, 230);
    align-items: center;

}


.user-files-table {

    width: 75%;
    height: 50%;
    margin-left: 70px;
    background-color: rgb(65, 59, 59);
    align-items: center;
}

th {
    background-color: rgb(0, 0, 0);
    color: white;
}

tr {
    background-color: rgb(94, 90, 90);

}
td {
    color: white;
    min-width: 50px;
    max-width: 150px;
    height: 37px;
}

.pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.page-item {
    width: 30px;
    height: 30px;
    background-color: rgb(54, 47, 47);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}

/* Adjust text styling */
.page-item a {
    text-decoration: none;
    color: black; /* Adjust the color as needed */
}

.page-item.disabled{
    background-color: gray;
    color: white;
}

.page-item.active {
    background-color: blanchedalmond; /* Adjust the color for the active page */
    color: white; /* Adjust the text color for the active page */
}