.add-container {
    position: relative;
    display: flex;
    align-items: center;
}

.add-button {
    background-color: #4CAF50;
    width: 75px;
    height: 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px 15px;
    margin: 0;
    margin-right: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-form-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    width: 430px;
    height: 400px;
    background-color: #415a77;
    margin-left: 300px;
    margin-top: 300px;
}

.add-form-container input {
    width: 300px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 7.5px;
    border: 2px solid #000;
}

.add-form-container input[type="submit"]{
    width: 300px;
    font-size: 1rem;
    color: #fff;
    background-color: #4CAF50;
}

.add-form-container input[type="submit"]:hover {
    cursor: pointer;
    background-color: #152c16;
}

/* Edit Form Pop-up */
.edit-form-container {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 57%;
    height: 20%;
    transform: translate(-50%, -50%);
    z-index: 1000; /* Ensure it appears above other content */
    background-color: white;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none; /* Initially hidden */
}

.edit-form {
    /* Form styling */
}

/* Close button styling */
#closeEditFormBtn {
    background-color: #ccc;
    border: none;
    color: black;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

#closeEditFormBtn:hover {
    background-color: #ddd;
}
