.sort-search-box {
    display: flex;
    position: relative;
    width: 868px;
    height: 6.5%;
    margin-top: 30px;
    margin-left: 70px;
    margin-bottom: 15px;
    border-radius: 15px;
    background-color: rgb(253, 253, 253);
    align-items: center;
}

.sort-search-title {
    background-color: rgb(255,255,255);
    color: #001233;
    margin-left: 10px;
    margin-right: 5px;
    font-weight: bolder;
}

.sorting-dropdown{
    width: 300px;
    height: 100% ;
    margin-left: 10px;
    margin-top: 40px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size: 1.2rem;
}
.sort-by {
    width: 300px;
    height: 30px;
}

.search-box {
    display: flex;
    position: relative;
    width: 30%;
    height: 100%;
    margin-left: 10px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    align-items: center;
}

.sort-box {
    display: flex;
    position: relative;
    width: 50%;
    height: 100%;
    margin-left: 10px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    align-items: center;
}