.side-panel {
    transition: width 0.5s ease; /* Adjust the duration and timing function as needed */
}

.side-panel.minimized {
    width: 0px; /* Set your desired width when minimized */
}

.side-panel.minimized .home-btn-group p {
    display: none;
}

.side-panel.minimized .home-btn-group button {
    width: 100%;
    text-align: center;
}

.toggle-btn {
    text-align: center;
}

