html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}


.login-page{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.logo {
    position: absolute;
    top: 60px;
    left: 85px;
    z-index: 3;
}

.login-box {
    z-index: 2;
    position: absolute;
    height: 650px;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.83);
    border-radius: 32px;
    text-align: center;
}

.justified-center{
    z-index: 3;
    height: fit-content;
    width: 100%;
    color: azure;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Calibri', sans-serif;
    text-align: center;
    margin-top: 40px;
}

.signin-button[type="submit"]{
    position: relative;
    margin-top: 20px;
    margin-left: 0px;
    width: 110px;
    height: 35px;
    text-align: center;
    font-size:1.1rem;
    font-weight: bold;
    color: black;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 10px;
    line-height: 1;
    background: white;
}

.signin-button:hover{
    background: #007BFF;
    transition: 0.5s;
}

.form {
    z-index: 1;
}

.center form{
    position: relative;
    background: #fff;
    width: 100%;
    padding: 30px 15px 0px 30px;
    box-sizing: border-box;
    border-radius: 0 0 5px 5px;
    box-shadow: 15px 16px 10px 5px rgba(0,0,0,0.1);
}

form input{
    height: 45px;
    width: 55%;
    padding: 0px 10px;
    border-radius: 5px;
    border: 1px solid #343A40;
    font-size: 1rem;
    outline: none;
}

form input::placeholder{
    color: black;
    font-weight: bold;
}

form input:focus{
    border: 1px solid #E7AE41;
    -webkit-transition: 1s;
    transition: 1s;
}

form i{
    position: absolute;
    font-size: 20px;
    color: #343A40;
}

i.fa-envelope{
    margin-left: -40px;
}

i.fa-eye{
    margin-top: 97px;
    margin-left: -42px;
}

.fas{
    font-weight: 900;
}

.input-container i {
    position: absolute;
    top: 25.9%;
    transform: translateY(-50%);
    left: 400px;
}

.forgot-password{
    position: relative; 
    margin-top: 0px;
    margin-left: 215px;
    font-family: 'Calibri';
}
input[type=email]{
    margin-top: 65px;
    margin-bottom: 50px;
}
input[type=password]{
    margin-bottom: 50px;
}

.popup{
    color: red;
    font-weight: bold;
}

a:link {color:#FFFAFA;}
a:visited {color:#FFFAFA;} 
a:hover {color:#FFFAFA;} 
a:active {color:#FFFAFA;} 
