/* Container for both tables */
.table-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
}

/* Styling for user-management-table (the main user table) */
.user-management-table {
    width: 100%;
    margin-top: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    border-collapse: collapse;
    font-family: 'Montserrat', sans-serif;
}

/* Table headers for user-management-table */
.user-management-table th {
    background-color: #007BFF;
    color: white;
    height: 40px;
    min-width: 100px;
    font-weight: bold;
    font-size: 1.1rem;
    text-align: left;
    padding: 12px;
    border-bottom: 3px solid #0056b3;
}

/* Table rows styling for user-management-table */
.user-management-table td {
    color: #001233;
    padding: 10px;
    border-bottom: 1px solid #dce4ec;
    height: 50px;
    text-align: left;
    white-space: nowrap;
}

/* Alternate row coloring for clarity */
.user-management-table tr:nth-child(even) {
    background-color: #f2f9ff;
}

/* Hover effect on table rows */
.user-management-table tr:hover {
    background-color: #e6f2ff;
    transition: background-color 0.3s ease;
}


/* Styling for user-files-table (the main user table) */
.user-files-table, .logs-table {
    width: 100%;  /* Full width for both tables */
    margin-top: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    border-collapse: collapse;
    font-family: 'Montserrat', sans-serif;
}

/* Table headers for both tables */
.user-files-table th, .logs-table th {
    background-color: #007BFF; /* Blue header for both */
    color: white;
    height: 40px;
    min-width: 100px;
    font-weight: bold;
    font-size: 1.1rem;
    text-align: left;
    padding: 12px;
    border-bottom: 3px solid #0056b3;
}

/* Table rows styling for both tables */
.user-files-table td, .logs-table td {
    color: #001233;  /* Dark text */
    padding: 10px;
    border-bottom: 1px solid #dce4ec;
    height: 50px;
    text-align: left;
    white-space: nowrap;
}

/* Alternate row coloring */
.user-files-table tr:nth-child(even), .logs-table tr:nth-child(even) {
    background-color: #f2f9ff; /* Light blue for even rows */
}

/* Hover effect for table rows */
.user-files-table tr:hover, .logs-table tr:hover {
    background-color: #e6f2ff;
    transition: background-color 0.3s ease;
}

/* Container for the user logs table */
.user_logs_container {
    margin-top: 30px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #dce4ec;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Delete button for both tables */
.delete-button[type="button"] {
    box-shadow: none;
    border: 1px solid #000;
    background-color: #8a2e26;
    color: #fff;
    border-radius: 5px;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #E7AE41;
}

/* Pagination styling for both tables */
.pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.page-item {
    width: 35px;
    height: 35px;
    background-color: #001233;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.page-item a {
    text-decoration: none;
    color: #ffffff;
}

.page-item.disabled {
    background-color: gray;
    color: white;
}

.page-item.active {
    background-color: #33415c;
    color: white;
}

/* Dropdown styling */
.status-form select {
    font-size: 1rem;
    background-color: #ffffff;
    color: #001233;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
}

.status-form select option {
    background-color: #ffffff;
    color: #001233;
}
