/* Container for the table */
.table-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
}

/* User table styling */
.user-files-table {
    width: 85%;  /* Increased width */
    height: 50%;
    margin-left: 50px;
    margin-top: 20px;
    background-color: #ffffff;
    align-items: center;
    border-radius: 5px;
}

th {
    background-color: #ffffff;
    color: #001233;
    height: 40px;  /* Increased height */
    min-width: 100px;  /* Increased min-width */
    font-weight: bold;
    font-size: 1.1rem;  /* Slightly increased font size */
}

tr {
    background-color: #001233;
}

td {
    color: white;
    min-width: 200px;  /* Increased min-width */
    max-width: 500px;  /* Increased max-width */
    height: 50px;  /* Increased height */
    padding: 10px;  /* Added padding for more spacing */
}

.delete-button[type="button"] {
    position: relative;
    right: 0px;
    box-shadow: none;
    border: 1px solid #000;
    background-color: #8a2e26;
    color: #fff;
    border-radius: 5px;
    width: 35px;  /* Slightly increased width */
    height: 35px;  /* Slightly increased height */
    cursor: pointer;
}

.delete-button:hover {
    background-color: #E7AE41;
}

/* Pagination style */
.pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;  /* Added margin for spacing */
}

.page-item {
    width: 35px;  /* Increased width */
    height: 35px;  /* Increased height */
    background-color: #001233;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;  /* Increased margin */
}

/* Pagination text styling */
.page-item a {
    text-decoration: none;
    color: #ffffff;
}

.page-item.disabled {
    background-color: gray;
    color: white;
}

.page-item.active {
    background-color: #33415c;
    color: white;
}

/* Dropdown styling */
.status-form select {
    font-size: 1rem;
    background-color: #ffffff;  /* White background for visibility */
    color: #001233;  /* Dark text color */
    border: 1px solid #000;  /* Border for visibility */
    border-radius: 5px;
    padding: 5px;
}

.status-form select option {
    background-color: #ffffff;  /* White background for options */
    color: #001233;  /* Dark text color for options */
}
