.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* table part */
.table-no-record {
    position: relative;
    top: 175px;
    font-size: 1.5rem;
}

th,
td {
    overflow: hidden;
    white-space: nowrap;
    padding: 15px;
    text-align: center;
    cursor: default;
}

th {
    background-color: #E7AE41;
    border: 1px solid #000;
    cursor: default;
    font-size: 1.2rem;
}

td {
    border: 1px solid #000;
    background-color: rgba(255, 255, 255);
}

.highlight-row {
    color: gray;
}

th a:hover {
    color: #fff;
    transition: 0.2s color ease-in-out;
}

td {
    text-overflow: ellipsis;
    font-size: 1rem;
    min-width: 100px;
    max-width: 150px;
}

/* will fix later */
tr.disabled td:not(.action-buttons) {
    background-color: #ccc;
}

.disabled {
    color: gray;
}

/* admin table style */
.user-management-table {
    overflow: hidden;
    border: 1px solid #000;
    border-collapse: collapse;
    width: 90%;
    text-align: left;
    font-size: 1rem;
}

/* action buttons */
.action-buttons {
    position: relative;
    width: 10px;
    white-space: nowrap;
}

.action-buttons button {
    margin: 0 5px;
}

.delete-button[type="button"] {
    position: relative;
    right: 0px;
    box-shadow: none;
    border: 1px solid #000;
    background-color: #f44336;
    color: #fff;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #E7AE41;
}

.edit-button[type="button"] {
    position: relative;
    right: 0px;
    box-shadow: none;
    border: 1px solid #000;
    background-color: #007BFF;
    color: #fff;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.edit-button:hover {
    background-color: #E7AE41;
}

.restore-button[type="button"] {
    position: relative;
    right: 0px;
    box-shadow: none;
    border: 1px solid #000;
    background-color: #007BFF;
    color: #fff;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.restore-button:hover {
    background-color: #E7AE41;
}

/* user status */

.status-form select {
    font-size: 1rem;
    background-color: transparent;
    border: none;
    border-radius: 5px;
}

/* table pagination */
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-item {
    border: 0px solid #000;
    border-radius: 5px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-right: 5px;
    font-size: 1rem;
}

.page-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}

.previous {
    border: 1px solid #000;
    width: 100px;
}

.number {
    border: 1px solid #000;
    width: 50px;
}

.number:hover {
    background-color: #E7AE41;
    color: #fff;
    transition: 0.2s background-color ease-in-out, color 0.2s ease-in-out;
}

.next {
    border: 1px solid #000;
    width: 100px;
}

.page-item.disabled {
    background-color: rgba(0, 0, 0, 0.2);
}

.page-item.active {
    background-color: #E7AE41;
}